@keyframes fadeUpCuriosidade {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animacao-entrada {
    animation: fadeUpCuriosidade 0.6s ease-out;
}

.animacao-entrada-2 {
    animation: fadeUpCuriosidade 0.2s ease-out;
}