#main ::-webkit-scrollbar {
  width: 8px;
}

/* trilho (fundo) */
#main ::-webkit-scrollbar-track {
  background: transparent; /* ou uma cor */
}

/* barra em si */
#main ::-webkit-scrollbar-thumb {
  background-color: #6b5cff;
  border-radius: 999px;
  border: 2px solid transparent; /* cria efeito flutuante */
  background-clip: content-box;
}

/* hover */
#main ::-webkit-scrollbar-thumb:hover {
  background-color: #8a7dff;
}

/* active */
#main ::-webkit-scrollbar-thumb:hover {
  background-color: #8a7dff;
}